/* Basic Styling for About Me Section */
#about {
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  position: relative;
  color: #333; /* Ensure text is visible */
}

#about h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

#about p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #555; /* Text color should contrast with the background */
}

.text-highlight {
  color: #007bff;
  font-weight: bold;
}

/* .profile-pic:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.5);
  border-color: #007bff;
} */

/* Chart.js styling */
canvas {
  /* background: #ffffff; */
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Add styles to ensure text visibility and readability */
body {
  color: #333; /* Default text color */
  background-color: #f0f0f0; /* Ensure the background does not hide text */
}

/* Make sure to include styles for AOS animations */
[data-aos] {
  opacity: 0;
  transition-property: transform, opacity;
}

[data-aos].aos-animate {
  opacity: 1;
}
