* {
  box-sizing: border-box;
}
#loader {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  background: #000;
  z-index: 99;
  text-align: center;
}
#loaderimg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  color: #fff;
  font-size: 4vh;
}
body {
  margin: 0;
  padding: 0;
  user-select: none;
  transition: all 1s ease-in-out;
}
#home {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: url("https://www.dropbox.com/s/givcvquwfp3o6to/port5.jpg?raw=1");
  background-repeat: no-repeat;
  background-size: cover;
  color: #b1aea9;
  font-size: 2.5em;
  overflow: hidden;
}
nav {
  display: flex;
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  color: #b33939;
  padding: 5px;
  z-index: 1;
  flex-direction: row;
}
.logo {
  font-size: 1.5em;
  margin-left: 4em;
}
nav ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav ul li {
  margin: 0px 10px;
}
nav ul li a {
  text-decoration: none;
  color: #b33939;
  font-size: 1.4em;
}
nav ul li a:hover {
  color: #f1c40f;
  font-size: 1.41em;
}
#content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 900;
}
#status {
  display: flex;
  flex-wrap: nowrap;
  width: 100vw;
  animation: moving 10s infinite 1s forwards;
  font-size: 0.7em;
  color: #b33939;
  margin-top: 10px;
  letter-spacing: 0.25vw;
}
#status span {
  min-width: 100%;
  justify-content: center;
}
@keyframes moving {
  0% {
    opacity: 1;
    transform: translate(0);
  }
  10% {
    opacity: 0;
  }
  25% {
    opacity: 1;
    transform: translate(-100%);
  }
  35% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translate(-200%);
  }
  60% {
    opacity: 0;
  }
  75% {
    opacity: 1;
    transform: translate(-300%);
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(-400%);
  }
}
#temp {
  height: 100vh;
  position: relative;
}
#about {
  min-height: 100vh;
  position: relative;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
#about header {
  position: absolute;
  top: 60px;
  color: #c23616;
  font-weight: 900;
}
#details {
  position: absolute;
  top: 100px;
  margin-top: 50px;
  width: 85%;
  font-size: 1.5em;
  text-align: justify;
  line-height: 1.3em;
}
#profile {
  height: 300px;
  float: right;
  margin-left: 15px;
}
#skills {
  min-height: 100vh;
  position: relative;
  width: 100%;
  background: #54a0ff;
  overflow: hidden;
}
#flex {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding-top: 130px;
}
.icons {
  width: 144px;
  height: 144px;
  margin-right: 5px;
}
progress {
  height: 8px;
  position: absolute;
  top: 70px;
  width: 300px;
}
progress[value] {
  appearance: none;
  border: none;
}
progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
  background: -webkit-linear-gradient(60deg, #56ab2f, #a8e063);
  border-radius: 2px;
}
.icon {
  margin: 0px 200px;
  position: relative;
}
#skills header {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  color: #c23616;
  font-weight: 900;
}
#projects {
  min-height: 100vh;
  position: relative;
  width: 100%;
  background: #fff;
}
#projects header {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  color: #c23616;
  font-weight: 900;
}
#pp {
  min-height: 100vh;
  width: 100%;
  padding-top: 130px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.p {
  width: 250px;
  height: 250px;
  border-radius: 5px;
}
.container {
  position: relative;
  margin: 30px;
}
.hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3vmax;
  text-align: center;
  opacity: 0;
}
.container:hover .p {
  opacity: 0.5;
  filter: blur(10px);
}
.container:hover .hover {
  opacity: 1;
}
#contact {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #95afc0;
}
#contact header {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  color: #c23616;
  font-weight: 900;
}
form {
  background: #eee;
  margin-top: 120px;
  padding: 30px;
  border-radius: 5px;
}
#msg {
  border: none;
  height: 160px;
  resize: none;
}
.input-control {
  margin-top: 3px;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none;
}
input[type="email"]:focus {
  box-shadow: 0 0 10px #82b6eb;
}
input[type="text"]:focus {
  box-shadow: 0 0 10px #82b6eb;
}
input[type="text"],
input[type="email"],
input[type="submit"],
textarea,
select {
  outline: none;
}
.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  margin: 1em 0;
}
.btn:hover {
  background-color: #035add;
}
#f {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.head {
  font-size: 3vmax;
}
.over {
  transform: translateX(0);
}
@media (max-width: 1000px) {
  nav {
    font-size: 1.2em;
  }
  nav .logo {
    margin-left: 0;
  }
}
@media screen and (max-width: 800px) {
  nav {
    font-size: 3vmax;
    padding: 5px 10px;
    flex-direction: column;
  }
  nav ul {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 10px 20px;
    left: 0;
    background: white;
    height: 100vh;
    width: 50%;
    transform: translateX(-110%);
    transition: all 1s ease;
    justify-content: flex-start;
    flex-direction: column;
  }
  nav ul li {
    padding: 15px 20px;
  }
  nav ul li a:hover {
    color: #f1c40f;
    font-size: 3.5vmax;
  }
  #m {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 25px;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iNTAiIGhlaWdodD0iNTAiCnZpZXdCb3g9IjAgMCAxNzIgMTcyIgpzdHlsZT0iIGZpbGw6IzAwMDAwMDsiPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0ibm9uemVybyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1saW5lY2FwPSJidXR0IiBzdHJva2UtbGluZWpvaW49Im1pdGVyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS1kYXNoYXJyYXk9IiIgc3Ryb2tlLWRhc2hvZmZzZXQ9IjAiIGZvbnQtZmFtaWx5PSJub25lIiBmb250LXdlaWdodD0ibm9uZSIgZm9udC1zaXplPSJub25lIiB0ZXh0LWFuY2hvcj0ibm9uZSIgc3R5bGU9Im1peC1ibGVuZC1tb2RlOiBub3JtYWwiPjxwYXRoIGQ9Ik0wLDE3MnYtMTcyaDE3MnYxNzJ6IiBmaWxsPSJub25lIj48L3BhdGg+PGcgZmlsbD0iI2IzMzkzOSI+PHBhdGggZD0iTTAsMzAuOTZ2Ni44OGgxNzJ2LTYuODh6TTAsODIuNTZ2Ni44OGgxNzJ2LTYuODh6TTAsMTM0LjE2djYuODhoMTcydi02Ljg4eiI+PC9wYXRoPjwvZz48L2c+PC9zdmc+")
      50% 50% no-repeat;
    background-size: 100% 100%;
  }
  /* #m:hover + ul {
    transform: translateX(0);
  }
  ul:hover {
    transform: translateX(0);
  } */
  #profile {
    width: 150px;
    height: 200px;
    float: right;
    margin-left: 15px;
    border-radius: 5px;
    box-shadow: 0 0 3px #000;
  }
  #home {
    font-size: 6vmax;
  }
  #status {
    font-size: 3vmax;
  }
  .head {
    font-size: 4.5vmax;
  }
  #details {
    top: 80px;
    width: 95%;
    font-size: 3vmax;
  }
  .icon {
    margin: 0px 200px 0 20px;
  }
  .icons {
    width: 100px;
    height: 100px;
  }
  progress {
    height: 6px;
    top: 50px;
    width: 200px;
  }
  form {
    margin: 100px 5px 0 5px;
  }
}
